plugin {
  registration {
    host = "127.0.0.1"
    port = 8085
  }
  http {
    interface = "0.0.0.0"
    port = 0
    exposedHost = "127.0.0.1"
  }
  timeoutSeconds = 60
  shutdownTimeout = 60
  maximumTimeout = 180
}

security {
  incomingRequests {
    trustedSources: {
     blackList: []
     whiteList: []
    }
    allowUntrustedUrls: true
  }
}

akka {
    loglevel = "DEBUG"
    loggers = ["akka.event.slf4j.Slf4jLogger"]
}
